.StoryIMG {
  background-image: url("../public/assets/backgrounds/story.gif");
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  opacity: 0.3;
}
