@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white tracking-wide;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  @media (max-width: 768px) {
    .mobile-center {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }

  .navBar h1:hover,
  li:hover {
    text-shadow: 0 0 10px #ff2a6d, 0 0 20px #ff2a6d, 0 0 40px #ff2a6d,
      0 0 80px #ff2a6d, 0 0 120px #ff2a6d;
    transition: 0.5s;
    --primary: hsl(
      var(--primary-hue),
      85%,
      calc(var(--primary-lightness, 50) * 0.6%)
    );
  }
  .navBar h1,
  li {
    text-shadow: 0 0 0 transparent; /* Initial state, with no shadow */
    transition: text-shadow 0.5s ease-out; /* Fade out over 0.5 seconds */
  }
  .links h3 {
    text-shadow: 0 0 0 transparent; /* Initial state, with no shadow */
    transition: text-shadow 0.5s ease-out; /* Fade out over 0.5 seconds */
  }

  .links h3:hover {
    text-shadow: 0 0 10px #ff2a6d, 0 0 20px #ff2a6d, 0 0 40px #ff2a6d,
      0 0 80px #ff2a6d, 0 0 120px #ff2a6d;
    transition: 0.5s;
    --primary: hsl(
      var(--primary-hue),
      85%,
      calc(var(--primary-lightness, 50) * 0.6%)
    );
  }

  .neonH2 h2 {
    text-shadow: 0 0 0 transparent; /* Initial state, with no shadow */
    transition: text-shadow 0.5s ease-out; /* Fade out over 0.5 seconds */
  }

  .neonH2 h2:hover {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff,
      0 0 120px #fff;
    transition: 0.5s;
    --primary: hsl(
      var(--primary-hue),
      85%,
      calc(var(--primary-lightness, 50) * 0.6%)
    );
  }

  .blocks:hover {
    color: #fff;
  }
}
